<%= render 'shared/errors', obj: @user %>

<div class='row'>
  <div class='col-xs-12'>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
  </div>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
  </div>
  <div class="text-end">
    <button class="btn btn-primary"><i class="fa fa-sign-in-alt"></i> <%= f.submit "Login", class: "btn btn-primary m-0 p-0" %></button>
  </div>
<% end %>
</div>
</div>