<%= render 'shared/errors', obj: @article %>

<div class="container">
<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="mb-2">
          <%= f.label :title %>
      </div>
      <div class="mb-4">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Blog", autofocus: true %>
      </div>
      <div class="mb-2">
        <%= f.label :description %>
      </div>
      <div class="mb-4">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of Blog" %>
      </div>
      <div class="mb-4">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
      <div class="mb-4">
        <button class="btn btn-success"><i class="fa fa-file-medical"></i> <%= f.submit "Create Blog", class: "btn btn-success btn-lg m-0 p-0" %></button>
      </div>
    <% end %>
  </div>
</div>
</div>