<%= render 'shared/errors', obj: @user %>

<div class='row'>
  <div class='col-xs-12'>
      <%= form_with(model: @user, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <!-- First Name -->
        <div class="mb-3">
          <%= f.label :first_name, "First Name", class: "form-label" %>
          <%= f.text_field :first_name, class: "form-control", required: true, placeholder: "Enter First Name", autofocus: true %>
        </div>

        <!-- Last Name -->
        <div class="mb-3">
          <%= f.label :last_name, "Last Name", class: "form-label" %>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Last Name" %>
        </div>

        <!-- Username -->
        <div class="mb-3">
          <%= f.label :username, "Username", class: "form-label" %>
          <%= f.text_field :username, class: "form-control", required: true, placeholder: "Enter Username (Unique)" %>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <%= f.label :email, "Email", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true, placeholder: "Enter Email" %>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <%= f.label :password, "Password", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true, placeholder: "Enter Password" %>
        </div>

        <!-- Submit Button -->
        <div class="text-end">
          <button class="btn btn-primary"><i class="fa fa-user-plus"></i> <%= f.submit "Submit" , class: "btn btn-primary m-0 p-0" %></button>
        </div>
      <% end %>
  </div>
</div>